<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Libraries -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/select2/4.0.3/css/select2.min.css"/>
    <link rel="stylesheet" href="/css/web.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/select2/4.0.3/js/select2.min.js"></script>
    <script src="/js/web.js"></script>
    <script src="/js/budgets.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${notebook.name}">Notebook</title>

</head>
<body>

    <div th:include="fragments/header :: header"></div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Budgets</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Starts</th>
                    <th>Ends</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="b: ${budgets}">
                    <td th:href="@{/notebooks/} + ${n.code} + '/budgets/' + ${b.id}" class="budgetLink" th:text="${b.name}"></td>
                    <td th:text="${n.value}">Value</td>
                    <td th:text="${n.startOn}">Start on</td>
                    <td th:text="${n.endOn}">End on</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">New budget</div>
        <div class="panel-body">
            <form class="form-horizontal" action="#" th:action="@{/notebooks/} + ${notebook.code} + '/budgets'" th:object="${budget}" method="post">

                <!-- Name -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name">Name</label>
                    <div class="col-sm-10">
                        <input id="name" type="text" class="form-control" aria-label="Name" th:field="*{name}"/>
                    </div>
                </div>

                <!-- Value -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="value"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></label>
                    <div class="col-sm-10">
                        <input type="number" id="value" class="form-control" aria-label="Amount" th:field="*{value}" step="0.01"/>
                    </div>
                </div>

                <!-- Start on -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="starts">Starts</label>
                    <div class="col-sm-10">
                        <input type="date" id="starts" class="form-control" aria-label="Starts" th:field="*{startOn}"/>
                    </div>
                </div>

                <!-- End on -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="ends">Ends</label>
                    <div class="col-sm-10">
                        <input type="date" id="ends" class="form-control" aria-label="Ends" th:field="*{endOn}"/>
                    </div>
                </div>

                <!-- Description -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="description">Description</label>
                    <div class="col-sm-10">
                        <textarea id="description" class="form-control" aria-label="Description" th:field="*{description}"></textarea>
                    </div>
                </div>

                <!-- Submit -->
                <div class="form-group">
                    <div class="btn-group col-sm-offset-2 col-sm-10" role="group">
                        <button type="submit" class="btn btn-success">Add</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>

</body>
</html>